<div class="row">
    <div class="col-md-6 offset-3 alert alert-success text-center">
        <h3>Order Completed Successfully!</h3>
        <p>Thank you for your order! We will contact you as soon as possible.</p>
        <hr />
        <p>Arigatou Gozaimasu!!!</p>
        <a class="btn btn-outline-secondary" href="javascript:history.back()">Go Back</a>
    </div>
</div>