<div class="row">
    <div class="col-md-6 offset-3 alert alert-success text-center">
        <h2>Your account has been successfully created.</h2>
        <p>You can proceed to log in with your details.</p>
        <hr />
        <p>Thank you!</p>
    </div>
</div>