@model int

@if(User.Identity.IsAuthenticated && User.IsInRole("Customer"))
{
    @if (Model > 0)
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Orders" asp-action="Cart">
                <i class="bi bi-cart4" style="margin-top: 5px; margin-right: 20px"></i>
                <span class="badge bg-success text-white" style="bottom: 26px;position: absolute; right:339px;
                border-radius: 50%">@Model</span>
            </a>
        </li>
    }
}

