@model string;

@if(User.Identity.IsAuthenticated && User.IsInRole("Admin"))
{
    <div style="position:fixed; right: 20px; bottom: 25px; z-index: 1" class="text-white">
        <a asp-controller="@Model" asp-action="Create" class="btn btn-success">
            <i class="bi bi-plus-circle" style="margin-right: 5px"></i>Add New
        </a>
    </div>
}
